<doctype html>
<html>
<head>
<title>
        faculty
</title>
{% load static  %}

<link rel="stylesheet"   href="{% static 'css/style.css'%}">
    <style>
    </style>
</head>
<body class="c">
<div class="cont1">
<form  action="{% url 'std' %}"  method="POST">
    {% csrf_token %}
    <h3>Student Registration</h3>


    <input type="text"class="frm" placeholder="Studentname" name="Sname"><br>
    <input type="text" class="frm" placeholder="SID" name="Sid"><br>
    <input type="text" class="frm" placeholder="Address" name="Address"><br>
    <input type="text" class="frm" placeholder="Gender" name="Gender"><br>
    <input type="text" class="frm" placeholder="AdmDate" name="AdmDate"><br>
    <input type="text" class="frm" placeholder="Mobileno" name="Mobileno"><br>
    <input type="text" class="frm" placeholder="Batch" name="Batch"><br>
    <input type="text" class="frm" placeholder="Email" name="Email"><br>
    <input type="text" class="frm" placeholder="Guardian" name="Guardian"><br>
    <input type="text" class="frm" placeholder="Password" name="Password"><br>
    <input type="submit"  class="a" name="students">
  
    
    
</form>
</div>
</body>
</html>